:root {
  --color-background: #edf2f7;
  --color-foreground: #dae1ec;
  --color-text: black;
}

@media (prefers-color-scheme: dark) {
  :root {    
    --color-background: #151515;
    --color-foreground: #36393f;
    --color-text: white;
  }
}

* {
  box-sizing: border-box;
  position: relative;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text); 
}

main {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
}

  // Scrollbar styles
.scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
    background-color: var(--color-scrollbar-background);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: transparent;
  }
  
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--color-scrollbar-thumb);
    border: 2px solid var(--color-scrollbar-thumb);
  }
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}