:root {
  --color-background: #f1f2f7;
  --color-foreground-1: white;
  --color-foreground-2: #eee;
  --color-text: black;
  --color-selected-bg: rgba(150, 159, 164, 0.15);
  --color-scrollbar-background: #f1f2f7;
  --color-scrollbar-thumb: #0d596d;
  --color-input-border: #ccc;
}

@media (prefers-color-scheme: dark) {
  :root {    
    --color-background: #090e11;
    --color-foreground-1: #1e2428;
    --color-foreground-2: #33383b;
    --color-text: rgba(241, 241, 242, 0.95);
    --color-input-border: var(--color-foreground-2);
  }

  a {
    color: #3ca4af;
  }

  a:visited {
    color: #81c4f8;
  }
}

* {
  box-sizing: border-box;
  position: relative;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text); 
}

main {
  max-width: 700px;
  margin: 0 auto;
  padding: 1rem;
}

input {
  background-color: var(--color-foreground-2);
  color: var(--color-text);
}

  // Scrollbar styles
.scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
    background-color: var(--color-scrollbar-background);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: transparent;
  }
  
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--color-scrollbar-thumb);
    border: 2px solid var(--color-scrollbar-thumb);
  }
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}